<h1>This is a secret page </h1>
<h3>Only for registred Users !!!</h3>
<img src="https://canadagames.ca/2017/sites/2017/files/styles/header_image/public/TOP%20SECRET.png?itok=6My1VnuF" alt="Sectet illustation">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/Login">Login</a></li>
<li><a href="/Logout">Logout</a></li>
